/* change background color */
.backgrounds {
    background-color: rgb(204, 94, 0) !important;
    background-image: url(https://zealot.co.jp/img/ico/favicon-196x196.png) !important;
    background-repeat: no-repeat !important;
    background-size: 5vw !important;
    background-position: 1vw 1vw !important;
}

.backgrounds .slides section h2.zealot-style {
    text-shadow: 0px 0px 6px rgb(0 0 0 / 80%) !important;
}

.backgrounds .slides section img[data-background=true].zealot-style {
    display: none !important;
}

.backgrounds .slide-background h2.zealot-style {
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.reveal .progress span::after {
    background-image: url(https://github.com/zealot-inc/tampermonkey-extension/raw/main/esa.slide.theme/images/slider-pointer.png) !important;
}
